{
  "presets": [
    "@babel/preset-typescript"
  ],
  "env": {
    "cdn": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "npm": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}